{% extends 'base1.html' %}
{% load static %}

<!-- Elimina Anagrafica -->

{% block lista %}
<div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="card">
      <div class="card-header">
        <h4>Elimina Anagrafica</h4>
      </div>
      <div class="card-body">
        <p>Sei sicuro di voler eliminare questa anagrafica?</p>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Elimina</button>
          <a href="{% url 'mostra_lista' %}" class="btn btn-secondary">Annulla</a>
        </form>
      </div>
    </div>
</div>
{% endblock lista %}
