<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ object.name }}</title>
</head>
<body>
    <p>Prodotto: {{ object.name }}</p>
        <p>Produttore: {{ object.manufacturer }}</p>
        <p>Quantità: {{ object.quantity }}</p>
        <p>Descrizione: {{ object.description }}</p>
        <p>Prezzo: {{ object.price }} Euro</p>
        <p>Spese di Spedizione: {{ object.shipping_cost }} Euro</p>


        <img src="{{ object.photo.url }}" alt="">
</body>
</html>