{% extends 'base.html' %}

{% block head_title %}{{ block.super }} | Libreria{% endblock head_title %}

{% block content %}

<h1>La Nostra Libreria:</h1>
<br>
{% for libro in object_list %}
    <h4><strong>Titolo: </strong>{{ libro.titolo }}</h4>
    <h5><strong>Autore: </strong><a href="{{ libro.autore.get_absolute_url }}">{{ libro.autore }}</a></h5>
    <h5><strong>Genere: </strong>{% for genere in libro.genere.all %}{{ genere }} {% endfor %}</h5>
    <h5><strong>ISBN: </strong>{{ libro.isbn }}</h5>
    <hr>
{% endfor %}

{% endblock content %}
