{% extends 'base1.html' %}
{% load static %}

<!-- Dettaglio Anagrafica -->

{% block lista %}
<div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="card">
      <div class="card-header">
        <h4>Dettaglio Anagrafica</h4>
      </div>
      <div class="card-body">
        <ul>
          <li><strong>Nome:</strong> {{ anagrafica.nome }}</li>
          <li><strong>Cognome:</strong> {{ anagrafica.cognome }}</li>
        </ul>
      </div>
    </div>
</div>
{% endblock lista %}