{% extends 'base1.html' %}
{% load static %}

<!-- Gestione Anagrafiche -->

{% block lista %}
<div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-xs-12">

    <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- Aggiunta del pulsante per accedere all'URL 'anagrafica' -->
        <a href="{% url 'anagrafica' %}" class="btn btn-primary">Crea Nuova Anagrafica</a>
    </div>

    <div class="card">
        <div class="card-header">
            <h4>Anagrafiche</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Cognome</th>
                            <th>Azioni</th> <!-- Aggiunto una nuova colonna per le azioni -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for anagrafica in anagrafiche %}
                        <tr>
                            <td>{{ anagrafica.nome }}</td>
                            <td>{{ anagrafica.cognome }}</td>
                            <td>
                                <!-- Link per la modifica -->
                                <a href="{% url 'modifica_anagrafica' anagrafica.pk %}" class="btn btn-primary">Modifica</a>
                                <!-- Link per l'eliminazione -->
                                <a href="{% url 'elimina_anagrafica' anagrafica.pk %}" class="btn btn-danger">Elimina</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock lista %}
